<div class="row">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-header">
                <small>Add a new</small>
                <strong>Immunization</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">Immunization Name</label>
                    <input type="text" class="form-control" ng-model="immunizations.name" placeholder="Hepatitis B">
                </div>

                <div class="form-group">
                    <label for="street">Administered By</label>
                    <input type="text" class="form-control" ng-model="immunizations.givenBy" placeholder="Dr. John Doe">
                </div>

                <div class="form-group">
                    <label for="city">Dosage</label>
                    <input type="text" class="form-control" ng-model="immunizations.dosage" placeholder="10ml">
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="postal-code">When was it given</label>? <i class="icon-calendar"></i>
                        <input type="date" class="form-control" ng-model="immunizations.givenDate">
                    </div>
                </div>
                <button ng-click="onSubmit('immunizations', immunizations)" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" ng-click="reset('immunizations')" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <strong>Immunizations</strong>
                <span class="badge badge-pill badge-danger float-right">{{immunizationRecords.length}}</span>
            </div>
            <div ng-repeat="immunization in immunizationRecords">
                <div class="card-body">
                    <div ng-if="immunization.name">
                        Name: {{immunization.name}}
                    </div>
                    <div ng-if="immunization.givenBy">
                        Administered By: {{immunization.givenBy}}
                    </div>
                    <div ng-if="immunization.dosage">
                        Dosage: {{immunization.dosage}}
                    </div>
                    <div ng-if="immunization.givenDate">
                        Given Date: {{immunization.givenDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
