<div ng-controller="MainController">

    <div class="animated fadeIn">

       <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Basic Profile
                    </div>
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <p>First Name:</p>
                                <p>Last Name:</p>
                                <p>Gender:</p>
                                <p>Date Of Birth</p>
                                <p>Blood Type:</p>
                                <p>Height:</p>
                                <p>Weight:</p>
                                <p>Phone:</p>
                                <p>Email:</p>
                                <p>Emergency Contact:</p>
                                <p>Emergency Contact Phone Number:</p>
                                <p>Allergies and Intolerances:</p>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <p>{{patientInfo.firstName}}</p>
                                <p>{{patientInfo.lastName}}</p>
                                <p>{{patientInfo.gender}}</p>
                                <p>{{patientInfo.dob}}</p>
                                <p>{{patientInfo.bloodType}}</p>
                                <p>{{patientInfo.height}}</p>
                                <p>{{patientInfo.weight}}</p>
                                <p>{{patientInfo.phone}}</p>
                                <p>{{patientInfo.email}}</p>
                                <p>{{patientInfo.emergencyContact}}</p>
                                <p>{{patientInfo.emergencyPhoneNumber}}</p>
                                <p>{{patientInfo.allergy}}</p>
                            </div>
                             <div class="col-sm-4 col-md-4" id="profile-container">
                            <image  src="img/profile-pictures.png" />
                             </div>

                        </div>
            
                    <div class="row">
                       <div class="col-sm-4 col-md-4">
                                <p>Street: {{patientInfo.street}}</p>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <p>City: {{patientInfo.city}}</p>
                               
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <p>Zip Code: {{patientInfo.zip}}</p>
                               
                            </div>

                     </div>

                    </div>
                </div>
            </div>
       </div>       
    </div>
</div>