<div class="row">
    <div class="col-sm-6 col-centered" >
        <div class="card ">
            <div class="card-header">
                Select Files To Share
            </div>
            <div class="style1">
                <div ng-repeat="header in allDataHeaders">
                    <div class="style2">
                        <input type="checkbox" name="button"> {{header}}</button>
                    </div>

                </div>
            </div>
          
                <input type="text" name="" ng-model="pin" placeholder="Please enter a pin to verify" class="mytext">
          
            
            <div style="color: red;" class="" ng-if="error">
                {{error}}
            </div>
            <button type="button" name="button" ng-click="shareInfo()" class="mytext" >Share Info</button>
        </div>
    </div>
    <div class="col-sm-6" ng-if="token">
        Here is the token to give to your physician: <br> {{token}}
    </div>
</div>
