<div class="row">
    <div class="col-sm-6">

        <div class="card card-accent-success">
            <div class="card-header">
                <small>Add a new</small>
                <strong>Appointment</strong>
            </div>
            <div class="card-body ">
                <div class="form-group">
                    <label for="company">Examiner</label>
                    <input type="text" class="form-control" ng-model="immunizations.name" placeholder="Dr. John Doe">
                </div>

                <div class="form-group">
                    <label for="street">Appointment Type</label>
                    <input type="text" class="form-control" ng-model="immunizations.givenBy" placeholder="Admition/Clinic/FollowUp/Imaging/Lab/Pharmacy">
                </div>

                <div class="form-group">
                    <label for="city">Status</label>
                    <input type="text" class="form-control" ng-model="immunizations.dosage" placeholder="Scheduled/Missed/Canceled">
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="postal-code">Date</label>? <i class="icon-calendar"></i>
                        <input type="date" class="form-control" ng-model="immunizations.givenDate">
                    </div>
                </div>
                <div class="form-group">
                        <label for="street">Street</label>
                        <input type="text" class="form-control" id="street" placeholder="Enter street name">
                    </div>

                    <div class="row">

                        <div class="form-group col-sm-8">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter your city">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="postal-code">Postal Code</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                        </div>

                    </div>
                    <!--/.row-->
                    <div class="form-group">
                        <label for="street">Notes</label>
                        <input type="text" class="form-control" id="street" >
                    </div>

                <button ng-click="onSubmit('immunizations', immunizations)" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" ng-click="reset('immunizations')" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-accent-success">
            <div class="card-header">
                <strong>Appointments</strong>
                <span class="badge badge-pill badge-danger float-right">{{appointments.length}}</span>
            </div>
            <div ng-repeat="appointment in appointments">
                <div class="card-body">
                    <div ng-if="appointment.examiner">
                        Examiner: {{appointment.examiner}}
                    </div>
                    <div ng-if="appointment.type">
                        Appointment Type: {{appointment.type}}
                    </div>
                    <div ng-if="appointment.status">
                        Status: {{appointment.status}}
                    </div>
                    <div ng-if="appointment.date">
                        Date: {{appointment.date}}
                    </div>
                    <div ng-if="appointment.street">
                        Street: {{appointment.street}}
                    </div>
                    <div ng-if="appointment.city">
                        City: {{appointment.city}}
                    </div>
                    <div ng-if="appointment.zip">
                        Postal Code: {{appointment.zip}}
                    </div>
                    <div ng-if="appointment.notes">
                        Notes: {{appointment.notes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
