       <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Eyeglass prescription as of: 09/09/2017
                    </div>
                        <div class="row">
                            <div class="col-lg-12">
                            
                                    
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="card-header">
                                                    <th></th>
                                                    <th></th>
                                                    <th>Sph</th>
                                                    <th>Cyl</th>
                                                    <th>Axis</th>
                                                    <th>Add</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>D.V</td>
                                                    <td>OD</td>
                                                    <td>-1.5</td>
                                                    <td>-1.0</td>
                                                    <td>110</td>
                                                    <td>+2.5</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>OS</td>
                                                    <td>-1.25</td>
                                                    <td>-0.5</td>
                                                    <td>120</td>
                                                    <td>+2.5</td>
                                                </tr>
                                                <tr>
                                                    <td>N.V</td>
                                                    <td>OD</td>
                                                    <td>+1.50</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>OS</td>
                                                    <td>+1.50</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                       
                                        </ul>
                                    </div>
                              
                            </div>
                            <!--/.col-->
                        </div>
                    
                </div>
            </div>

        </div>
    </div>