<div ng-controller="MainController">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Patient History Last Updated:
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <p>Chronic Diseases/Illnesses:</p>
                                <p>Past Surgeries:</p>
                                <p>Drug history:</p>
								<p>Family History:</p>
								<p>Consumes Alcohol? If yes, How often.</p>
								<p>Recreational Drugs?</p>
                                <p>Sexually Active?</p>
                            </div>
                            <div class="col-sm-6 col-md-6">
                               <p>Lung Cancer</p>
                                <p>Knee surgery</p>
                                <p>Chemotherapy, Immunotherapy</p>
                                <p>Dad with history of diabetes and high blood pressure. Mom with history of breast cancer</p>
                                <p>Yes, occasionally </p>
                                <p>No</p>
                                <p>Yes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
