<div class="row">
    <div class="col-sm-6">

        <div class="card card-accent-success">
            <div class="card-header">
                <small>Add a new</small>
                <strong>Referral</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">Referring Doctor</label>
                    <input type="text" class="form-control" ng-model="referral.doctor" placeholder="">
                </div>

                <div class="form-group">
                    <label for="street">Referral Start Date</label>
                    <input type="date" class="form-control" ng-model="referral.startDate" placeholder="">
                </div>

                <div class="form-group">
                    <label for="city">Referral Expiration Date</label>
                    <input type="date" class="form-control" ng-model="referral.expirationDate" placeholder="">
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="postal-code">Number of Visits</label> <i class="icon-calendar"></i>
                        <input type="number" class="form-control" ng-model="referral.numberOfVisits">
                    </div>
                </div>
                <button ng-click="createReferral('referral', referral)" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" ng-click="reset('referral')" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="card card-accent-success">
            <div class="card-header">
                <strong>Referrals</strong>
                <span class="badge badge-pill badge-danger float-right">{{Referrals.length}}</span>
            </div>
            <div ng-repeat="referral in Referrals">
                <div class="card-body">
                    <div>
                        Name: {{referral.doctor}}
                    </div>
                    <div>
                        Start Date: {{referral.startDate}}
                    </div>
                    <div>
                        Expiration Date: {{referral.expirationDate}}
                    </div>
                    <div>
                        Number Of Visits: {{referral.numberOfVisits}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
