<div ng-controller="MainController">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Insurance Information
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <p>Insurance Provider:</p>
                                <p>Policy Holder:</p>
                                <p>Policy Number:</p>
								<p>Group Number:</p>
                                <p>Deductible:</p>
								<p>Out of Pocket Maximum:</p>
								<p>Effective Date:</p>


                            </div>
                            <div class="col-sm-6 col-md-6">
                                <p>Blue Cross Blue Sheild of VA</p>
                                <p>John Dickens</p>
                                <p>123456</p>
                                <p>45 A</p>
                                <p>$ 1,200</p>
                                <p>$5000</p>
								<p>09/10/2017</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
