<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Vaccine Administration Record
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="card-header">
                                <th>Vaccine</th>
                                <th>Type of Vaccine</th>
                                <th>Date Vacine given</th>
                                <th>Funding Source</th>
                                <th>Route and Site</th>
                                <th>Vaccine</th>
                                <th>Vaccine Information Statement(VIS)</th>
                                <th>Vaccinator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tetanus, Diphtheria, Pertussis (e.g., Tdap, Td) Give IM.3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hepatitis A6 (e.g., HepA, HepA-HepB) Give IM.</td>
                                 <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hepatitis B6 (e.g., HepB, HepA-HepB) Give IM.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Human papillomavirus (HPV2, HPV4, HPV9) Give IM.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Measles, Mumps, Rubella (MMR) Give Subcut.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Varicella (VAR) Give Subcut.3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Meningococcal ACWY (e.g., MenACWY [MCV4], MPSV4) Give MenACWY IM.7 Give MPSV4 Subcut.</td>
                                 <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Meningococcal B (e.g., MenB) Give MenB IM.7
                                </td>
                                 <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->


    </div>
    <!--/.row-->


</div>