
<iframe src="https://calendar.google.com/calendar/embed?src=azaadhealth2017%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=MzVhbWs2NTRkcmpkNmdqY2puMjAybnEzcjkgYXphYWRoZWFsdGgyMDE3QG0&amp;tmsrc=azaadhealth2017%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"><button type="button"> Add 
event</button></a>