<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="fa fa-plus-square"></i> Dashboard <span class="badge badge-info"></span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.patient_history"><i class="fa fa-history"></i> Patient History <span class="badge badge-info"></span></a>
            </li>
			<li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.medications"><i class="fa fa-flask"></i> Medications <span class="badge badge-info"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.tables"><i class="fa fa-info-circle"></i> Insurance Info </a>
            </li>
			<li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.referrals"><i class="fa fa-file-text"></i> Referrals <span class="badge badge-info"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.medicalImaging"><i class="fa fa-picture-o"></i> Medical Imaging </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.immunizations"><i class="fa fa-medkit"></i> Immunizations </a>
            </li>
			<li class="nav-item">

                <a class="nav-link" ui-sref-active="active" ui-sref="app.Glasses"><i class="fa fa-eye"></i> Glasses </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.appointments"><i class="fa fa-hospital-o"></i> Appointments</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" ui-sref-active="active" ui-sref="app.calendar"><i class="fa fa-calendar-check-o"></i> Calendar </a>

            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="fa fa-user-md"></i> Doctors</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">

                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.pcp"><i class="fa fa-heartbeat"></i> PCP </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.oncologist"><i class="fa fa-heartbeat"></i> Oncologist </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.radiologist"><i class="fa fa-heartbeat"></i> Radiologist </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.ophthalmologist"><i class="fa fa-heartbeat"></i> Ophthalmologist </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.dentist"><i class="fa fa-heartbeat"></i> Dentist</a>

                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
